<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
	</head>

	<body>
		<div id="page-title">hellow orld!!</div>

		<div id="post-list">
			{{#each posts}}
				<div class="essay" style="background-image:url(https://unsplash.it/200/300/?random={{_id}})">
					<span class="essay-headline"><a href="/post/{{title}}">{{title}}</a></span>
					<br />
					<span class="essay-contributor">name goes here</span>
				</div>
			{{/each}}
		</div>
	</body>
</html>
